<div class="row row-height" >
  <div class="col-xl-4 col-lg-4 content-left">

    <div class="content-left-wrapper">

      <div>
        <figure><img src="assets/img/new/all-worker.png" alt="" class="img-fluid" width="270" height="270"></figure>
        <h2>Devenez Membre Chez Nous</h2>
        <p> Bienvenue sur All-Workers, le site web dédié à toute personne à la recherche d'une tâche ou d'une mission à accomplir.</p>
        <a href="https://all-worker.com" class="btn_1 rounded yellow">Savoir plus</a>

      </div>
      <div class="copy">© 2024 All-workers</div>
    </div>
  </div>
  <div class="col-lg-8">
    <form [formGroup]="registerForm" >
      <div class="multistep-form">
        <!-- Freelancer Multistep -->
        <div class="multistep-progress" id="freelance_step">
          <div class="container">
            <div class="first-progress">
              <div class="row align-items-center">

                <div class="col-md-12">
                  <ul id="progressbar" class="progressbar">
                    <li
                      [ngClass]="{
                            'progress-active': selectedFieldSet[0] === 0,
                            'progress-activated': selectedFieldSet[0] > 0
                          }"
                    >
                      <div class="multi-step">
                        <img
                          src="assets/img/icon/wizard-icon-01.svg"
                          alt="Img"
                        />
                      </div>
                      <div class="steps-count">
                        <span>{{'Step'|translate}} 1/4</span>
                        <h5>{{'Account_Type'|translate}}</h5>
                      </div>
                    </li>
                    <li
                      [ngClass]="{
                            'progress-active': selectedFieldSet[0] === 1,
                            'progress-activated': selectedFieldSet[0] > 1
                          }"
                    >
                      <div class="multi-step">
                        <img
                          src="assets/img/icon/wizard-icon-02.svg"
                          alt="Img"
                        />
                      </div>
                      <div class="steps-count">
                        <span>{{'Step'|translate}} 2/4</span>
                        <h5>{{'Personal_info'|translate}}</h5>
                      </div>
                    </li>
                    <li
                      [ngClass]="{
                            'progress-active': selectedFieldSet[0] === 2,
                            'progress-activated': selectedFieldSet[0] > 2
                          }"
                    >
                      <div class="multi-step">
                        <img
                          src="assets/img/icon/wizard-icon-03.svg"
                          alt="Img"
                        />
                      </div>
                      <div class="steps-count">
                        <span>{{'Step'|translate}} 3/4</span>
                        <h5>Skills & Experience</h5>
                      </div>
                    </li>
                    <li
                      [ngClass]="{
                            'progress-active': selectedFieldSet[0] === 3,
                            'progress-activated': selectedFieldSet[0] > 3
                          }"
                    >
                      <div class="multi-step">
                        <img
                          src="assets/img/icon/wizard-icon-05.svg"
                          alt="Img"
                        />
                      </div>
                      <div class="steps-count">
                        <span>{{'Step'|translate}} 4/4</span>
                        <h5>Email Verification</h5>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /Freelancer Multistep -->

        <!-- Accounting Onboard -->
        <div
          class="text-center on-board select-account group-select"
          [ngClass]="{ 'd-block': selectedFieldSet[0] === 0, 'd-none': selectedFieldSet[0] !== 0 }"
        >
          <div class="select-type">
            <div class="account-onborad onboard-head">
              <h2>{{ 'Select_Account_Type' | translate }}</h2>
              <!--<p>Don’t worry, this can be changed later.</p>-->
              <div class="select-box d-flex justify-content-center">
                <label
                  class="employee-level free-lance-img accounts_type"
                  [class.selected]="accountsType == 5 "
                  (click)="selectAccount(5)"
                >
                  <a href="javascript:void(0);">
                    <img src="assets/img/select-04.svg" alt="Img" class="img-fluid" />
                    <input type="radio" formControlName="accountsType" value="employee" /> Freelancer
                    <img *ngIf="accountsType == 5" src="assets/img/icon/checks.svg" alt="Checked" class="checks-set" />
                  </a>
                </label>

                <label
                  class="employee-level employee-img accounts_type"
                  [class.selected]="accountsType == 6"
                  (click)="selectAccount(6)"
                >
                  <a href="javascript:void(0);">
                    <img src="assets/img/select-05.svg" alt="Img" class="img-fluid" />
                    <input type="radio" formControlName="accountsType" value="employee" /> Employer
                    <img *ngIf="accountsType ==6" src="assets/img/icon/checks.svg" alt="Checked" class="checks-set" />
                  </a>
                </label>
              </div>
            </div>
            <input class="btn btn-prev prev_btn btn-back" name="next" type="button" value="Back" disabled />
            <input
              class="btn next_btn btn-primary btn-get btn-next"
              name="next"
              type="button"
              value="Suivant"
              (click)="nextStep(stepIndex + 1)"
              [disabled]="!isStepValid(stepIndex)"

            />
          </div>
        </div>
        <!-- /Accounting Onboard -->

        <!-- Personal Info -->
        <div class="on-board field-card select-account select-btn" [class.d-block]="selectedFieldSet[0] === 1">
          <div class="text-center onboard-head">
            <h2>{{ 'PERSONAL_INFO' | translate }}</h2>
            <p>{{ 'ABOUT_YOURSELF' | translate }}</p>
          </div>
          <div class="field-item personal-info space-info">
            <div class="row">
              <div class="col-md-6 col-lg-6">
                <div class="input-block">
                  <label for="first-name" class="form-label">{{ 'LAST_NAME' | translate }}<span class="required text-danger">*</span></label>
                  <input type="text" id="first-name" class="form-control" formControlName="last_name" />
                  <div *ngIf="registerForm.controls['last_name']?.invalid && (registerForm.controls['last_name']?.dirty || registerForm.controls['last_name']?.touched)" class="mb-2">
                    <small *ngIf="registerForm.controls['last_name']?.errors?.['required']" class="p-error">Nom de famille obligatoire.</small>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-6">
                <div class="input-block">
                  <label for="last-name" class="form-label">{{ 'FIRST_NAME' | translate }}</label>
                  <input type="text" id="last-name" class="form-control" formControlName="first_name" />
                  <div *ngIf="registerForm.controls['first_name']?.invalid && (registerForm.controls['first_name']?.dirty || registerForm.controls['first_name']?.touched)" class="mb-2">
                    <small *ngIf="registerForm.controls['first_name']?.errors?.['required']" class="p-error">Prénom obligatoire.</small>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-6">
                <div class="input-block">
                  <label for="day_birth" class="form-label">{{ 'DATE_OF_BIRTH' | translate }}<span class="required text-danger">*</span></label>
                  <input type="date" id="day_birth" formControlName="day_birth" class="form-control required" [attr.max]="maxDate">
                  <div *ngIf="registerForm.controls['day_birth']?.invalid && (registerForm.controls['day_birth']?.dirty || registerForm.controls['day_birth']?.touched)" class="mb-2">
                    <small *ngIf="registerForm.controls['day_birth']?.errors?.['required']" class="p-error"> Date naissance obligatoire.</small>
                  </div>

                </div>
              </div>
              <div class="col-md-6 col-lg-6">
                <div class="input-block">
                  <label for="email-address" class="form-label">{{ 'EMAIL_ADDRESS' | translate }}</label>
                  <input type="email" id="email-address" formControlName="email" class="form-control" />
                  <div *ngIf="registerForm.controls['email']?.invalid && (registerForm.controls['email']?.dirty || registerForm.controls['email']?.touched)" class="mb-2">
                    <small *ngIf="registerForm.controls['email']?.errors?.['required']" class="p-error"> Email obligatoire.</small>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-6">
                <div class="input-block">
                  <label for="phone_number" class="form-label">{{ 'PHONE_NUMBER' | translate }}</label>
                  <span class="p-fluid">
                       <p-inputMask mask="(999) 699999999" formControlName="phone_number" id="phone_number" placeholder="(999) 999-9999"></p-inputMask>
                    </span>
                  <div *ngIf="registerForm.controls['phone_number']?.invalid && (registerForm.controls['phone_number']?.dirty || registerForm.controls['phone_number']?.touched)" class="mb-2">
                    <small *ngIf="registerForm.controls['phone_number']?.errors?.['required']" class="p-error"> Téléphone obligatoire.</small>
                  </div>
                </div>
              </div>
              <div class="col-12 col-xl-6 col-lg-6">


                <div class="form-group">
                  <label>{{ 'GENDER' | translate }}<span class="required text-danger">*</span></label>
                  <div class="form-group radio_input">
                    <label class="container_radio me-3">{{ 'MALE' | translate }}
                      <input type="radio" formControlName="gender" value="Masculin" class="required">
                      <span class="checkmark"></span>
                    </label>
                    <label class="container_radio">{{ 'FEMALE' | translate }}
                      <input type="radio" formControlName="gender" value="Femme" class="required">
                      <span class="checkmark"></span>
                    </label>
                    <div *ngIf="registerForm.controls['gender']?.invalid && (registerForm.controls['gender']?.dirty || registerForm.controls['gender']?.touched)" class="mb-2">
                      <small *ngIf="registerForm.controls['gender']?.errors?.['required']" class="p-error">Genre obligatoire.</small>
                    </div>
                  </div>
                </div>
              </div>


              <div class="col-md-6 col-lg-6">
                <div class="input-block">
                  <label class="form-label">{{ 'CITY' | translate }}<span class="required text-danger">*</span></label>
                  <select class="form-select" formControlName="city">
                    <option>Select</option>
                    <option *ngFor="let data of selectedList1" [value]="data.value">{{ data.value }}</option>
                  </select>

                  <div *ngIf="registerForm.controls['city']?.invalid && (registerForm.controls['city']?.dirty || registerForm.controls['city']?.touched)" class="mb-2">
                    <small *ngIf="registerForm.controls['city']?.errors?.['required']" class="p-error">Ville de résidence obligatoire.</small>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-6">
                <div class="input-block">
                  <label for="address" class="form-label">{{ 'COMPLETE_ADDRESS' | translate }}<span class="required text-danger">*</span></label>
                  <input type="text" id="address" class="form-control" formControlName="complete_address" />
                  <div *ngIf="registerForm.controls['complete_address']?.invalid && (registerForm.controls['complete_address']?.dirty || registerForm.controls['complete_address']?.touched)" class="mb-2">
                    <small *ngIf="registerForm.controls['complete_address']?.errors?.['required']" class="p-error">Adresse compléte obligatoire.</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center">
            <input class="btn btn-prev prev_btn btn-back" name="next" type="button" value="Precedent" (click)="selectedFieldSet[0] = 0; block()" />
            <input
              class="btn next_btn btn-primary btn-get btn-next"
              name="next"
              type="button"
              value="Suivant"
              [disabled]="!registerForm.valid"
              (click)="nextStep(stepIndex + 1)"
              [disabled]="!isStepValid(stepIndex)"
            />
          </div>
        </div>
        <!-- /Personal Info               [disabled]="!registerForm.valid"
-->

        <!-- Skills & Experience -->
        <div class="on-board field-card select-account select-btn" [class.d-block]="selectedFieldSet[0] === 2">
          <div class="text-center onboard-head">
            <h2>{{ 'PROFESSIONAL_INFO' | translate }}</h2>
            <p>C'est le moment de briller. Faites savoir aux clients potentiels ce que vous faites de mieux et comment vous avez acquis vos compétences, votre domaine  d'activité.</p>

          </div>
          <div class="field-item personal-info space-info">
            <div class="row">
              <div class="col-md-6 col-lg-6">
                <div class="input-block">
                  <label class="form-label">{{ 'DOMAINS' | translate }}<span class="required text-danger">*</span></label>

                  <span class="p-fluid">
                    <p-dropdown

                      class="w-full md:w-20rem"
                      containerStyleClass="w-full"
                      [options]="domainActivity" id="domain_activity" formControlName="domain_activity"
                      optionLabel="name"  [showClear]="true" (onChange)="onDomainChange($event)"
                    >
                  </p-dropdown>
                  </span>
                  <div *ngIf="registerForm.controls['domain_activity']?.invalid && (registerForm.controls['domain_activity']?.dirty || registerForm.controls['domain_activity']?.touched)" class="mb-2">
                    <small *ngIf="registerForm.controls['domain_activity']?.errors?.['required']" class="p-error"> Domaine d'activité obligatoire.</small>
                  </div>

                </div>
              </div>
             <!-- <div class="col-md-6">
                <div class="input-block">
                  <label for="profession" class="focus-label">{{ 'PROFESSION' | translate }}<span class="required text-danger">*</span></label>

                  <span class="p-fluid">
                    <p-dropdown

                      class="w-full md:w-20rem"
                      containerStyleClass="w-full"
                      [options]="filteredProfessions" id="profession" formControlName="profession"
                      optionLabel="name"  [showClear]="true" (onChange)="onProfessionChange($event)"
                    ></p-dropdown>
                  </span>
                  <div *ngIf="registerForm.controls['profession']?.invalid && (registerForm.controls['profession']?.dirty || registerForm.controls['profession']?.touched)" class="mb-2">
                    <small *ngIf="registerForm.controls['profession']?.errors?.['required']" class="p-error"> Profession obligatoire.</small>
                  </div>
                </div>
              </div> ---->
              <div class="col-md-6">
                <div class="input-block">
                  <label for="specialism" class="focus-label">{{ 'SPECIALITY' | translate }}<span class="required text-danger">*</span></label>
                   <span class="p-fluid">
                    <p-dropdown
                      class="w-full md:w-20rem"
                      containerStyleClass="w-full"
                      [options]="filteredSpecialism" id="specialism" formControlName="specialisms"
                      optionLabel="name"  [showClear]="true" (onChange)="onspecialiteChange($event)"
                    ></p-dropdown>
                  </span>
                  <div *ngIf="registerForm.controls['specialisms']?.invalid && (registerForm.controls['specialisms']?.dirty || registerForm.controls['specialisms']?.touched)" class="mb-2">
                    <small *ngIf="registerForm.controls['specialisms']?.errors?.['required']" class="p-error"> Specialité obligatoire.</small>
                  </div>

                </div>
              </div>
              <div class="col-md-6">
                <div class="input-block">
                  <label for="competence" class="focus-label">{{ 'SKILLS' | translate }}<span class="required text-danger">*</span></label>
                  <span class="p-fluid">


                     <p-treeSelect
                       class="w-full md:w-20rem"
                       containerStyleClass="w-full"
                       formControlName="competences"
                       [options]="filteredCompetence"
                       optionLabel="name"
                       id="competence"
                       display="chip"
                       [metaKeySelection]="true"
                       selectionMode="checkbox"
                       placeholder="Select Item">
                      </p-treeSelect>
                    </span>
                  <div *ngIf="registerForm.controls['competences']?.invalid && (registerForm.controls['competences']?.dirty || registerForm.controls['competences']?.touched)" class="mb-2">
                    <small *ngIf="registerForm.controls['competences']?.errors?.['required']" class="p-error"> Competence obligatoire.</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center">
            <input class="btn btn-prev prev_btn btn-back" name="next" type="button" value="Precedent" (click)="selectedFieldSet[0] = 1" />
            <input class="btn next_btn btn-primary btn-get btn-next" name="next" type="submit" value="Suivant"
                   (click)="onSubmit(3)"
                   [disabled]="!isStepValid(stepIndex)"
            />
          </div>
        </div>
        <!-- //Skills & Experience -->

        <!-- Completeing Register -->
        <div
          class="on-board field-card"
          [class.d-block]="selectedFieldSet[0] === 3"
        >
          <div class="account-onborad complte-board back-home pb-0">
            <img
              src="assets/img/icon/mail.png"
              class="img-fluid"
              alt="icon"
            />
            <h2>Votre compte a été crée avec success</h2>
            <h3>Nous avons envoyé votre mot de passe de connexion à {{registerForm.value.email!.toString()}} </h3>
            <p>Cliquez sur le lien pour compléter le processus de vérification</p>
            <p>Il se peut que vous deviez vérifier votre Spam</p>
            <a href="javascript:void(0);" class="link-danger"
            ><i class="feather icon-refresh-cw me-2"></i> Resend Email</a
            >
          </div>
          <div class="text-center">
            <a class="btn  prev_btn " href="auth/login">Terminer</a>

          </div>
        </div>
        <!-- /Completeing Register -->


      </div>


    </form>
  </div>
</div>
