<!-- Page Content -->
<div class="page-title">
    <h3>Listes des projets</h3>
</div>
<!-- Proposals list -->
<div class="proposals-section ongoing-projects">
  <div class="title-head d-flex justify-content-between align-items-center mb-4">
    <h4 class="mb-0"></h4>
    <a href="#add-project-modal" class="login-btn btn-primary" data-bs-toggle="modal">Ajouter un projet</a>
  </div>

    <!-- Proposals -->
    <div class="freelancer-proposals proposal-ongoing" *ngFor="let proj of project">
        <div class="project-proposals align-items-center freelancer">
            <div class="proposal-info">
                <div class="proposals-details">
                    <h3 class="proposals-title">{{proj.nom}}</h3>
                    <ul>

                        <li>
                            <div class="proposal-client-price">
                                <h4 class="title-info">Client Price</h4>
                                <h3 class="client-price">$280.00 <span class="price-type">( Fixed )</span></h3>
                            </div>
                        </li>
                        <li>
                            <div class="proposal-job-type">
                                <h4 class="title-info">Date du debut</h4>
                                <h3>{{proj.date_debut}}</h3>
                            </div>
                        </li>
                        <li>
                            <div class="proposal-img">
                                <div class="proposal-client d-flex align-items-center">
                                    <img src="assets/img/user/user-01.jpg" alt="Img" class="img-fluid me-2">
                                    <div>
                                        <span>Projet crée par</span>
                                        <h4>{{proj.entreprise_nom}}</h4>

                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="project-action text-center">
                                <a [routerLink] = "routes.freelancerViewProjectDetail" class="projects-btn mb-0">View Details</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Proposals -->



</div>
<!-- /Proposals list -->
<!-- /Page Content -->
<!-- The Modal -->
<div class="modal fade" id="add-project-modal" tabindex="-1" aria-labelledby="addProjectModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addProjectModalLabel">Ajouter un projet</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="projectForm" >
          <div class="modal-info">
            <div class="row">
              <!-- Project Name -->
              <div class="col-lg-12">
                <div class="input-block">
                  <label for="projectName" class="form-label">Nom du projet</label>
                  <input type="text" class="form-control" id="projectName" formControlName="nom" required>
                </div>
              </div>

       <!--
              <div class="col-lg-3">
                <div class="input-block">
                  <label for="amount" class="form-label">Budget estimé</label>
                  <input type="text" class="form-control" id="amount" formControlName="amount">
                  <span class="input-group-text">$</span>
                </div>
              </div>-->

              <!-- Start Date -->
              <div class="col-lg-4">
                <div class="input-block">
                  <label for="startDate" class="form-label">Date de début</label>
                  <div class="cal-icon">
                    <input class="form-control datetimepicker" id="startDate" bsDatepicker formControlName="date_debut" type="text" required>
                  </div>
                </div>
              </div>

              <!-- End Date -->
              <div class="col-lg-4">
                <div class="input-block">
                  <label for="endDate" class="form-label">Date de fin</label>
                  <div class="cal-icon">
                    <input class="form-control datetimepicker" id="endDate" bsDatepicker formControlName="date_fin" type="text">
                  </div>
                </div>
              </div>

              <!-- Project Description -->
              <div class="col-lg-12">
                <div class="input-block">
                  <label for="description" class="form-label">Description</label>
                  <ngx-editor formControlName="description" id="description" [editor]="editor">
                    <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"></ngx-editor-menu>
                  </ngx-editor>
                </div>
              </div>

              <!-- Assign Candidats -->
              <!--<div class="col-lg-12">
                <div class="input-block">
                  <label for="candidates" class="form-label">Affecter un candidat</label>
                  <select class="form-control" id="candidates" formControlName="selectedCandidat">
                    <option *ngFor="let candidat of candidats" [value]="candidat.id">{{ candidat.nom }} {{ candidat.prenom }}</option>
                  </select>
                </div>
              </div>-->
            </div>
          </div>

          <div class="submit-section text-end">
            <a href="javascript:void(0);" class="btn btn-cancel" data-bs-dismiss="modal">Annuler</a>
            <button type="submit" (click)="createProject()" class="btn btn-primary submit-btn" [disabled]="projectForm.invalid">Soumettre</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- /The Modal -->
