<div class="pro-pos">
  <div class="setting-content">
    <form>
      <div class="card">
        <div class="pro-head">
          <h3>{{'Myprofil'|translate}}</h3>
        </div>
        <div class="pro-body">

            <div class="row">
              <div class="col-lg-12">
                <div class="form-row pro-pad pt-0 ps-0">
                  <div class="input-block col-md-6 pro-pic">
                    <label class="form-label">{{'Profile_Picture'|translate}}</label>
                    <div class="d-flex align-items-center">
                      <div class="upload-images freelancer-pic-box">
                        <img alt="{{'Profile_Picture'|translate}}" [src]="currentUser?.photo"  class="avatar-lg " style="width:100%;height:100%">
                      </div>
                      <div class="ms-3 freelancer-pic-upload">
                        <label class="file-upload image-upbtn"> {{'Upload_Image'|translate}} <input type="file" id="imgInp"> </label>
                        <p>{{'Max_Image_size_300*300'|translate}}</p>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
              <p-tabView>

                <p-tabPanel >
                  <ng-template pTemplate="header" class="tab" >
                    <i class="pi pi-plus-circle m-2"></i>
                    <span >{{'Personal_information'|translate}}</span>
                  </ng-template>
                  <form [formGroup]="candidatForm">
                    <div class="row">
                      <div class="col-lg-6 col-md-12">
                        <div class="mb-3">
                          <label for="nom" class="form-label">{{'LAST_NAME'|translate}}</label>
                          <input type="text" id="nom" class="form-control" formControlName="nom">
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-12">
                        <div class="mb-3">
                          <label for="prenom" class="form-label">{{'FIRST_NAME'|translate}}</label>
                          <input type="text" id="prenom" class="form-control" formControlName="prenom">
                        </div>
                      </div>
                      <div class="col-lg-2 col-md-12">
                        <div class="mb-3">
                          <label for="sexe" class="form-label">{{'GENDER'|translate}}</label>
                          <select id="sexe" class="form-control" formControlName="sexe">
                            <option value="M">{{'MALE'|translate}}</option>
                            <option value="F">{{'FEMALE'|translate}}</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-12">
                        <div class="mb-3">
                          <label for="date_naissance" class="form-label">{{'DATE_OF_BIRTH'|translate}}</label>
                          <input type="text" id="date_naissance" class="form-control" formControlName="date_naissance">
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-12">
                        <div class="mb-3">
                          <label for="telephone" class="form-label">{{'PHONE_NUMBER'|translate}}</label>
                          <input type="text" id="telephone" class="form-control" formControlName="telephone" name="telephone">
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-12">
                        <div class="mb-3">
                          <label for="email" class="form-label">{{'EMAIL'|translate}}</label>
                          <input type="text" id="email" class="form-control" formControlName="email" name="email">
                        </div>
                      </div>

                      <div class="col-lg-4 col-md-12">
                        <div class="mb-3">
                          <label for="country" class="form-label">{{'COUNTRY'|translate}}</label>
                          <input type="text" id="country" class="form-control" formControlName="country">
                        </div>
                      </div>

                      <div class="col-lg-4 col-md-12">
                        <div class="mb-3">
                          <label for="city" class="form-label">{{'CITY'|translate}}</label>
                          <input type="text" id="city" class="form-control" formControlName="city">
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-12">
                        <div class="mb-3">
                          <label for="address" class="form-label">{{'COMPLETE_ADDRESS'|translate}}</label>
                          <input type="text" id="address" class="form-control" formControlName="address">
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-12">
                        <div class="mb-3">
                          <label for="region" class="form-label">{{'Région'|translate}}</label>
                          <input type="text" id="region" class="form-control" formControlName="region">
                        </div>
                      </div>

                      <div class="col-lg-4 col-md-12">
                        <div class="mb-3">
                          <label for="statut_matrimonial" class="form-label">{{'Matrimonial_status'|translate}}</label>
                          <select id="statut_matrimonial" class="form-control" formControlName="statut_matrimonial">
                            <option value="celibataire">{{'Single'|translate}}</option>
                            <option value="marie">{{'Married'|translate}}</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-12">
                        <div class="mb-3">
                          <label for="nombre_enfant" class="form-label">{{'Number_of_children'|translate}}</label>
                          <input type="number" id="nombre_enfant" class="form-control" formControlName="nombre_enfant">
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-12">
                        <div class="mb-3">
                          <label for="cni" class="form-label">CNI</label>
                          <input type="text" id="cni" class="form-control" formControlName="cni">
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-12">
                        <div class="mb-3">
                          <label for="date_delivrance" class="form-label">{{'Date_of_issue'|translate}}</label>
                          <input type="date" id="date_delivrance" class="form-control" formControlName="date_delivrance">
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-12">
                        <div class="mb-3">
                          <label for="niu" class="form-label">NIU</label>
                          <input type="text" id="niu" class="form-control" formControlName="niu">
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-12">
                        <div class="mb-3">
                          <label for="longitude" class="form-label">{{'Longitude'|translate}}</label>
                          <input type="text" id="longitude" class="form-control" formControlName="longitude">
                        </div>
                      </div>
                        <div class="col-lg-4 col-md-12">
                        <div class="mb-3">
                          <label for="latitude" class="form-label">{{'Latitude'|translate}}</label>
                          <input type="text" id="latitude" class="form-control" formControlName="latitude">
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-12">
                        <div class="mb-3">
                          <label for="website" class="form-label">{{'SITE_WEB'|translate}}</label>
                          <input type="text" id="website" class="form-control" formControlName="website">
                        </div>
                      </div>
                      <div class="card">
                        <div class="pro-head">
                          <h4 class="pro-titles mb-0">{{'Presentation'|translate}}</h4>
                        </div>
                        <div class="pro-body">
                          <div class="row">
                            <div class="input-block col-md-12">
                              <textarea class="form-control" rows="5"></textarea>
                            </div>
                          </div>
                        </div>
                      </div>


                      <div class="card text-end border-0">
                        <div class="pro-body">
                          <button class="btn btn-primary click-btn btn-plan" type="button"
                                  (click)="updateProfile()" (keydown.enter)="updateProfile()" tabindex="0">{{'Update'|translate}}
                          </button>
                        </div>
                      </div>
                    </div>
                    </form>

                </p-tabPanel>
                <p-tabPanel >
                  <ng-template pTemplate="header" class="tab" >
                    <i class="pi pi-plus-circle m-2"></i>
                    <span>{{'Experiences'|translate}}</span>
                  </ng-template>


                  <!-- Table -->
                  <div class="table-top-section">
                    <div class="table-header">
                      <h5 class="mb-0">Mes experiences</h5>
                    </div>
                    <div class="col-auto">
                      <a href="javascript:void(0);" class="btn add-button me-2" (click)="openModal(null,0)">
                        <i class="fas fa-plus"></i>
                      </a>
                    </div>

                  </div>
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                      <tr>
                        <th>{{ 'Company_Name' | translate }}</th>
                        <th>{{ 'Position' | translate }}</th>
                        <th>{{ 'Start_Date' | translate }}</th>
                        <th>{{ 'End_Date' | translate }}</th>
                        <th>Action</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let experience of allExperiences">
                        <td>{{ experience.company_name }}</td>
                        <td>{{ experience.job_title }}</td>
                        <td>{{ experience.start_date | date: 'shortDate' }}</td>
                        <td>{{ experience.end_date | date: 'shortDate' }}</td>
                        <td>
                          <button  class="btn btn-sm btn-secondary me-2" (click)="openModal(experience,0)"><i class="far fa-edit"></i></button>
                          <button class="btn btn-sm btn-danger" (click)="deleteModal(experience,3)"><i class="far fa-trash-alt"></i></button>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>


                </p-tabPanel>
                <p-tabPanel >
                  <ng-template pTemplate="header" class="tab" >
                    <i class="pi pi-plus-circle m-2"></i>
                    <span>{{'Formation'|translate}}</span>
                  </ng-template>


                  <!-- Table -->
                  <div class="table-top-section">
                    <div class="table-header">
                      <h5 class="mb-0">Mes formations</h5>
                    </div>
                    <div class="col-auto">
                      <a href="javascript:void(0);" class="btn add-button me-2" (click)="openModalEducation(null,7)">
                        <i class="fas fa-plus"></i>
                      </a>
                    </div>
                  </div>
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                      <tr>
                        <th>{{ 'Etablissement' | translate }}</th>
                        <th>{{ 'Diplome' | translate }}</th>
                        <th>{{ 'Start_Date' | translate }}</th>
                        <th>{{ 'End_Date' | translate }}</th>
                        <th>Action</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let education of allEducations">
                        <td>{{ education.institution }}</td>
                        <td>{{ education.degree }}</td>
                        <td>{{ education.start_date | date: 'shortDate' }}</td>
                        <td>{{ education.end_date | date: 'shortDate' }}</td>
                        <td>
                          <!-- Ajouter des actions (par exemple, modifier ou supprimer) -->
                          <button class="btn btn-sm btn-secondary me-2" (click)="openModalEducation(education,7)"><i class="far fa-edit"></i></button>
                          <button class="btn btn-sm btn-danger" (click)="deleteFormation(education,8)"><i class="far fa-trash-alt"></i></button>
                        </td>

                      </tr>
                      </tbody>
                    </table>
                  </div>
                </p-tabPanel>
              </p-tabView>

        </div>
      </div>




  </div>


<div class="1">

</div>


      <div class="modal fade custom-modal" id="domain-modal" [ngClass]="{'show d-block': isModalOpen[0]}" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">

            <div class="modal-header flex-wrap">
              <h5 class="modal-title">{{ isEditMode ? 'Edit Experience' : 'Create Experience' }}</h5>
              <button type="button" class="close" (click)="closeModal(0)" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>

            <div class="modal-body">
              <form [formGroup]="experienceForm" (submit)="createOrUpdateExperience()">
                <div class="form-group">
                  <label> {{ 'Company_Name' | translate }}</label>
                  <input type="text" class="form-control" formControlName="company_name">
                </div>
                <div class="form-group">
                  <label> {{ 'Position' | translate }}</label>
                  <input type="email" class="form-control" formControlName="job_title">
                </div>
                <div class="form-group">
                  <label>{{ 'Start_Date' | translate }}</label>
                  <input type="date" class="form-control" formControlName="start_date">
                </div>
                <div class="form-group">
                  <label> {{ 'End_Date' | translate }}</label>
                  <input type="date" class="form-control" formControlName="end_date">
                </div>

                <div class="mt-4">
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="closeModal(0)">Cancel</button>
                    <button type="button" class="btn btn-primary" (click)="createOrUpdateExperience()">
                      {{ isEditMode ? 'Modifier' : 'Enregistrer' }}
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>



      <div class="modal fade custom-modal" id="education-modal" [ngClass]="{'show d-block': isModalOpen[7]}" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">

            <div class="modal-header flex-wrap">
              <h5 class="modal-title">{{ isEditMode ? 'Modifier Formatioin' : 'Ajouter formation' }}</h5>
              <button type="button" class="close" (click)="closeModal(7)" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>

            <div class="modal-body">
              <form [formGroup]="educationForm" >
                <div class="form-group">
                  <label> {{ 'Etablissement' | translate }}</label>
                  <input type="text" class="form-control" formControlName="institution">
                </div>
                <div class="form-group">
                  <label>{{ 'Diplome' | translate }}</label>
                  <input type="email" class="form-control" formControlName="degree">
                </div>
                <div class="form-group">
                  <label>{{ 'Start_Date' | translate }}</label>
                  <input type="date" class="form-control" formControlName="start_date">
                </div>
                <div class="form-group">
                  <label> {{ 'End_Date' | translate }}</label>
                  <input type="date" class="form-control" formControlName="end_date">
                </div>

                <div class="mt-4">
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="closeModal(7)">Cancel</button>
                    <button type="button" class="btn btn-primary" (click)="createOrUpdateEducation()">
                      {{ isEditMode ? 'Modifier' : 'Enregistrer' }}
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>



      <!-- Delete Modal -->
      <div class="modal custom-modal fade" [ngClass]="{'show d-block': isModalOpen[3]}" role="dialog">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-body">
              <div class="form-header">
                <h3>Supprimer</h3>
                <p>Êtes-vous sûr de vouloir supprimer cette expérience ?</p>
              </div>
              <div class="modal-btn delete-action">
                <div class="mt-4">
                  <div class="modal-footer">
                    <button type="button" class="btn btn-danger" (click)="closeModal(0)">Annuler</button>
                    <button type="button" class="btn btn-primary" (click)="deleteExperience()">
                      Supprimer
                    </button>
                  </div>
                </div>

            </div>
          </div>
        </div>
      </div>
      </div>

        <div class="modal custom-modal fade" [ngClass]="{'show d-block': isModalOpen[8]}" role="dialog">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-body">
                <div class="form-header">
                  <h3>Supprimer</h3>
                  <p>Êtes-vous sûr de vouloir supprimer cette formation ?</p>
                </div>
                <div class="modal-btn delete-action">
                  <div class="mt-4">
                    <div class="modal-footer">
                      <button type="button" class="btn btn-danger" (click)="closeModal(8)">Annuler</button>
                      <button type="button" class="btn btn-primary" (click)="deleteEducation()">
                        Supprimer
                      </button>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
