<!-- Page Wrapper -->
<div class="page-wrapper">
  <div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
      <div class="row align-items-center">
        <div class="col">
          <h3 class="page-title">Candidats</h3>
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="'/home'">Dashboard</a></li>
            <li class="breadcrumb-item active">Candidats</li>
          </ul>
        </div>
        <div class="col-auto">
          <a href="javascript:void(0);" class="btn add-button me-2" (click)="openModal()">
            <i class="fas fa-plus"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-body">
            <div class="table-responsive">
              <div class="table_header">
                <div class="dataTables_length">
                  <label>
                    Show
                  </label>
                  <select [(ngModel)]="pageSize" (ngModelChange)="updatePaginated()" class="form-control form-control-sm">

                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                  </select>
                  <label>Entries</label>
                </div>
               <div class="dataTables_filter">
                  <label for="search">
                    Search:
                  </label>
                 <input id="search" name="searchDataValue" [(ngModel)]="searchDataValue" (ngModelChange)="updatePaginated()" class="form-control form-control-sm" />

                  </div>
                </div>
                <div class="table-scroll">
                  <table
                    class="table table-center table-hover mb-0 datatable">
                    <thead>
                    <tr>
                      <th>Date de création</th>
                      <th>Nom</th>
                      <th>Email</th>
                      <th>Genre</th>
                      <th>Date de naissance</th>
                      <th>téléphone</th>
                      <th>Ville</th>
                      <th>Adresse</th>
                      <th>Statut</th>
                      <th class="text-end">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let candidate of filteredData">
                      <td>{{ candidate.created_at| date: 'dd/MM/yyyy' }}</td>
                      <td>{{ candidate.full_name}}</td>
                      <td>{{ candidate.email }}</td>
                      <td>{{ candidate.gender }}</td>
                      <td>{{ candidate.day_birth | date: 'dd/MM/yyyy'}}</td>
                      <td>{{ candidate.phone_number }}</td>
                      <td>{{ candidate.city }}</td>
                      <td>{{ candidate.complete_address}}</td>

                      <td>{{ candidate.status_user }}</td>
                      <td class="text-end">
                        <a href="javascript:void(0);" class="btn btn-sm btn-secondary me-2" (click)="openModal(candidate)">
                          <i class="far fa-edit"></i>
                        </a>
                        <a href="javascript:void(0);" class="btn btn-sm btn-danger" (click)="openDeleteModal(candidate)">
                          <i class="far fa-trash-alt"></i>
                        </a>
                      </td>
                    </tr>
                    </tbody>
                   </table>
                 </div>

              <div class="table_footer">
                <div class="col-sm-12 col-md-5">
                  <div class="dataTables_info">
                    Showing {{ (currentPage - 1) * pageSize + 1 }} to
                    {{ (currentPage * pageSize) < totalData ? (currentPage * pageSize) : totalData }} of
                    {{ totalData }} entries
                  </div>
                </div>
                <div class="col-sm-12 col-md-7">
                  <div class="pagination_section">
                    <ul class="pagination">
                      <li class="page-item" [ngClass]="{ disabled: currentPage === 1 }">
                        <a class="page-link" href="javascript:void(0);" (click)="goToPreviousPage()">Previous</a>
                      </li>
                      <li class="page-item" [ngClass]="{ disabled: currentPage * pageSize >= totalData }">
                        <a class="page-link" href="javascript:void(0);" (click)="goToNextPage()">Next</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>


             </div>
           </div>
         </div>

       </div>
     </div>
     <!-- /Page Wrapper -->
  </div>
  <!-- The Modal for Adding and Editing Domain -->
  <div class="modal fade custom-modal" id="domain-modal" [ngClass]="{'show d-block': isModalOpen}" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">{{isEditMode ? 'Modifier candidat' : 'Ajouter nouveau candidat'}}</h4>
          <button type="button" class="close" (click)="closeModal()"><span>&times;</span></button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <form [formGroup]="candidatForm" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="name">Nom</label>
                  <input type="text" id="name" formControlName="first_name"  class="form-control" placeholder="Nom">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="ownerName">Prenom</label>
                  <input type="text" id="ownerName" formControlName="last_name" class="form-control" placeholder="Prenom">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="email">Email</label>
                  <input type="email" id="email" formControlName="email" class="form-control" placeholder="Email">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="day_birth">Date de naissance</label>
                  <input type="date" id="day_birth" formControlName="day_birth" class="form-control required" [attr.max]="maxDate">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="gender">Genre</label>
                  <select class="form-select" id="gender" name="gender" formControlName="gender">
                    <option>Select gender</option>
                    <option value="Masculin">Masculin</option>
                    <option value="Feminin">Feminin</option>

                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="phone_number">Numéro de téléphone</label>
                  <p-inputMask mask="(999) 699999999" formControlName="phone_number" id="phone_number" placeholder="(999) 999-9999"></p-inputMask>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="nationality">Nationalité</label>
                  <input type="text" id="nationality" formControlName="nationality" class="form-control" placeholder="Nationalité">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="city">Ville</label>
                  <input type="text" id="city" formControlName="city" name="city" class="form-control" placeholder="Ville">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">

              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="completeAddress">Adresse complète</label>
                  <input type="text" id="completeAddress" formControlName="complete_address" name="completeAddress" class="form-control" placeholder="Adresse complète">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="city">Domaine</label>
                  <span class="p-fluid">
                    <p-dropdown

                      class="w-full md:w-20rem"
                      containerStyleClass="w-full"
                      [options]="domainActivity" id="domain_activity" formControlName="domain_activity"
                      optionLabel="name"  [showClear]="true" (onChange)="onDomainChange($event)"
                    ></p-dropdown>
                  </span>                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="completeAddress">Profession</label>
                  <span class="p-fluid">
                    <p-dropdown

                      class="w-full md:w-20rem"
                      containerStyleClass="w-full"
                      [options]="filteredProfessions" id="profession" formControlName="profession"
                      optionLabel="name"  [showClear]="true" (onChange)="onProfessionChange($event)"
                    ></p-dropdown>
                  </span>                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="city">Specialite</label>
                  <span class="p-fluid">
                    <p-dropdown

                      class="w-full md:w-20rem"
                      containerStyleClass="w-full"
                      [options]="filteredSpecialism" id="specialism" formControlName="specialisms"
                      optionLabel="name"  [showClear]="true"
                    ></p-dropdown>
                  </span>                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="completeAddress">Competence</label>
                  <span class="p-fluid">


                     <p-treeSelect
                       class="w-full md:w-20rem"
                       containerStyleClass="w-full"
                       formControlName="competences"
                       [options]="competence"
                       display="chip"

                       [metaKeySelection]="false"
                       selectionMode="checkbox"
                       placeholder="Select Item"></p-treeSelect>
                    </span>                </div>
              </div>
            </div>

            <div class="mt-4">
              <button type="submit" class="btn btn-primary btn-block">{{isEditMode ? 'Modifier' : 'Enregistrer'}}</button>
            </div>
          </form>
        </div>


      </div>
    </div>
  </div>
  <!-- /The Modal -->

  <!-- Delete Modal -->
  <div class="modal custom-modal fade" id="delete_category" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <div class="form-header">
            <h3>Supprimer</h3>
            <p>Êtes-vous sûr de vouloir supprimer</p>
          </div>
          <div class="modal-btn delete-action">
            <div class="row">
              <div class="col-6">
                <a href="javascript:void(0);" class="btn btn-primary continue-btn">Supprimer</a>
              </div>
              <div class="col-6">
                <a href="javascript:void(0);" data-bs-dismiss="modal" class="btn btn-primary cancel-btn">Annuler</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /Delete Modal -->
